/* index.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
}

/* App.css */

.chat-bot {
  max-width: 800px;
  margin: auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.chat-header {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.info-container {
  text-align: center;
}

.feed {
  padding: 20px;
}

.question,
.response {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  resize: none;
  box-sizing: border-box;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

/* Responsive styles */
@media (max-width: 600px) {
  .chat-bot {
    width: 100%;
    border-radius: 0;
  }

  .chat-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}
